extends ../templates/basic.jade

block title
  title= title
  link(rel="stylesheet", href="./bower_components/font-awesome/css/font-awesome.min.css")
  link(rel="stylesheet", href="./styles/test.css")

block body

  h1 Welcome to my #{title}!

  h3 Top news story:
  p Link to story: <a href='#{topUrl}'>#{topTitle}</a>
  p The date is now #{date.toLocaleDateString()}
    p #{month}/#{year}
  i.fa.fa-heart
  pre= theCal

  script(src='bower_components/jquery/dist/jquery.min.js')
  script(src='scripts/learning.js')
